# **Data Claning Code**

In [ ]:
#Filtering missing data
data.dropna()#delete all null value both rows and column every null value is deleted
data[data.notna()]#this will show except null value

dropna =Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much
missing data to tolerate.  

fillna= Fill in missing data with some value or using an interpolation method such as "ffill" or "bfill".   

isna= Return Boolean values indicating which values are missing/NA.

notna =Negation of isna, returns True for non-NA values and False for NA values.

In [ ]:
#code only used for ROWS
data.droupna(how='all')#this will delete if all rows value contain NaN Value

* * * example input
* 0 1 2
* 0 1.0 6.5 3.0
* 1 1.0 NaN NaN
* 2 NaN NaN NaN
* 3 NaN 6.5 3.0
* 
* output
* 0 1 2
* 0 1.0 6.5 3.0
* 1 1.0 NaN NaN
* 3 NaN 6.5 3.0

# filling and handling missing data filtering and cleaning

In [ ]:
#filling and handling missing data filtering and cleaning
#this is aplicable only for column 
data.dropna(axis='columns',how='all')#this will delete all column if column contain null value

df.iloc[:4, 1] = np.nan #code use for give null value to column name 1 and till 4 roll all value should be null

df.iloc[:2, 2] = np.nan#code means giving null value to column name 2 and till 2nd rows allvalue sholud be null

df.dropna(thresh=2)#code means delete starting 2 rows whose walue is nil

df.fillna(0)#code means fill null value with zero

df.fillna(1:0.5 , 2:0)#code means it will fill NaN Value in 1 column with 0.5, and 2 column with 0 aplicable only for NAN value
#reindexing
df.iloc[2:1]=np.nan #code means except stating 2 rows in column 1 keep all value NAN and except leaving starting 4 row in column 2 keep all value NaN

df.fillna(method='ffill')#code means it will fill all last value in all NAN value
#example
# column1     column1
# 0.2         0.2
# 0.234       0.234
# 0.1221      0.1221
# NaN         0.1221
# NaN         0.1221   as u can see all nan value filled with last value in column

df.fillna(method='ffill',limit=2)# cade means same as above but it will fill till 2 NaN value as it set a limit for it 

data.fillna(data.mean())#code means it will fill all NAN value with means

# **Removing Duplicates**

**data=pd.DataFrame({'k1':['one','two']*3+['two'],    
                     'k2':[1,1,2,3,3,4,4,]})**

In [ ]:
data=pd.DataFrame({'k1':['one','two']* 3+['two'],    
                   'k2':[1,1,2,3,3,4,4,]})

data.duplicate()#code meaans shows true or false for dublicate data dublicate means in whole row contain same value 

data.drop_duplicate()#code means delete all dublecate rows in all column not in it will not delete if contain in only one row dublicate should in whole selected row

data['columname']=range(7)#this will selected only selected column to see dublicate value filter dublicate based on selected column
data

data.drop_duplicates(subset=['k1'])#code means it will deleted duplicate of selected column

data.drop_duplicates(['column1','column2'],keep='last')#code means it will see from bottom it will started deleting dublicate above 
# exampel      output(after code)
# 1    one     1    one           as u can see 2 row is deleted bcz 1 has repeted 2 times  seleted based on 1 column  
# 1    two     2    one  
# 2    one

# Transforming data using function or mapping

In [ ]:
meat_to_animal={
    'bacon':'pig',
    'pulled pork'  'pig'
    'pastrami':'cow'
}
data['animal']=data['food'].map(meat_to_animal)#code means it will do mapping according to food column with animal
output
  food       ounces animal
0 bacon       4.0 pig
1 pulled pork 3.0 pig
2 bacon       12.0 pig
3 pastrami    6.0 cow
4 corned beef 7.5 cow
5 bacon       8.0 pig
6 pastrami    3.0 cow
7 honey ham   5.0 pig
8 nova lox    6.0 salmon  #as u can see animal is maped to food example (where there is a bacon there is a pig) as we have define function

#define function
def get animal(x):
    return meat_to_animal[x]

data['food'].map(get_animal)

output
0 pig
1 pig
2 pig
3 cow

# Replacing Value

In [ ]:
data.replace(-999,np.nan)#this will delete all -999 value with NAN
data.replace([-999,-1000],np.nan)#code mean replace -999 and -1000 with np.nan
data.replace([-999,-1000],[np.nan,0])#code mean replace -999 and -1000 with np.nan and 0
data.replace({-999:np.nan,-1000:0})#code mean same as above but method is different

# Renaming Axis Indexes

Like values in a Series, axis labels can be similarly transformed by a function or
mapping of some form to produce new, differently labeled objects. You can also
modify the axes in place without creating a new data structure. Hereâ€™s a simple
example:

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)), #code means total value is 12 3rows and 4 column
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])#code means 1column will be index and with respect to that all column form
def transform(x):
    return x[:4].upper()
data.index.map(transform)
index(["OHIO", "COLO", "NEW"])#output of above code

data.index=data.index.map(transform)
data.rename(index=str.title,columns=str.upper)#column name name will be in upper case
data.rename(index={'OHIO','INDIANA'},
           columns={'three':'peekaboo'})#it will change column and row name

# Discretization and Binning

parenthesis means that the side is open (exclusive)    
while the square bracket means it is closed (inclusive).    
You can change which side is closed by passing right=False:

In [ ]:
In [77]: ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
In [78]: bins = [18, 25, 35, 60, 100]#bins means it will divide the number in this 5 category
In [79]: age_categories = pd.cut(ages, bins)
In [80]: age_categories#eg 18-25 child,25-35-adult, 35-60-more adult, 60-100-old  
#output
[[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35,
60], (35, 60], (25, 35]]

age_categories.categories
                
age_categories.categories[0]
                
pd.value_counts(age_categories)#bins count 

pd.cut(ages,bins,right=False)
group_name=["Youth", "YoungAdult", "MiddleAged", "Senior"]
pd.cut(ages,bins,labels=group_names)
#output
['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', '
MiddleAged', 'MiddleAged', 'YoungAdult']
 
data=np.random.uniform(size=20) #The precision=2 option limits the decimal precision to two digits
pd.cut(data,4,precision=2) #data means dataframe, 4 means 4 category,precision 2 menas till 2 decimal 
#output
 [(0.34, 0.55], (0.34, 0.55], (0.76, 0.97], (0.76, 0.97], (0.34, 0.55], ..., (0.34
, 0.55], (0.34, 0.55], (0.55, 0.76], (0.34, 0.55], (0.12, 0.34]] #this is equal size bins

In [90]: data = np.random.standard_normal(1000)
In [91]: quartiles = pd.qcut(data, 4, precision=2)#there is 2 cut and qcut 
In [92]: quartiles

pd.value_counts(quartiles)
                                                    
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

# Deleting and Filtering Outliers

The parentheses around data.abs() > 3 are necessary in order to call the any method on the result of the comparison operation

In [ ]:
col=data[2]
col[col.abs()>3]#code to find value in one columns exceeding 3 in absolute value
data[data.abs()>3.any(axis='column')]#code means show (value>3) in all column of dataset (any) is used for all dataframe
#output
41 0.457246 -0.025907 -3.399312 -0.974657
60 1.951312 3.260383 0.963301 1.201206
136 0.508391 -0.196713 -3.745356 -1.520113#as u can see there is in each row ther is -3.00 so it show this output

data[data.abs() > 3] = np.sign(data) * 3 #this will convert all -3 value into 3 means (+3)

# Permutation and Random Sampling

In [ ]:
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))#5 multipy 7 means number total is 35 and rows 5 and 7 column
sampler=np.random.permutation(5)
sampler
#output
Out[106]: array([3, 1, 4, 2, 0])#purmutation meansall possible can genrate to get 5 

In [109]: column_sampler = np.random.permutation(7)
In [110]: column_sampler
Out[110]: array([4, 6, 3, 2, 1, 0, 5])
In [111]: df.take(column_sampler, axis="columns")#this code usefull for column all column name change to based on output

# Computing Indicator/Dummy Variables

In [ ]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
pd.get_dummies(df['key'])#this will create dummy variable using key

dummies=pd.get_dummies(df['key'],prefix='key')

df_with_dummy = df[["data1"]].join(dummies)

dummies=movies['genres'].str.get_dummies('|') #this will return dummary value according to genres ccolumn unique value
dummies.iloc[:10,:6]#means show till 10 rows and 6 column as total unique in column of genres

movies_windic = movies.join(dummies.add_prefix("Genre_")) #mean add genre at first of every geners
movies_windic.iloc[0]#this means taking first rows
#output:
# title Toy Story (1995)
# genres Animation|Children's|Comedy
# Genre_Action 0
# Genre_Adventure 0
# Genre_Animation 1
# Genre_Children's 1  #as u can see it a animation and children movie

np.random.seed(12345) # to make the example repeatable
values = np.random.uniform(size=10) #creating some random number size 10
value #here 10 randome number genrated

bins = [0, 0.2, 0.4, 0.6, 0.8, 1] #now we are binning that 10 number in this format
pd.get_dummies(pd.cut(values, bins))

# Extension Data Types

In [ ]:
s = pd.Series([1, 2, 3, None])#we create series not dataframe

s.dtype#to check the datatype of column

s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())#we mension dtype in series as int 
#we can also use ""int64"" insted of ""Int65Dtype""

s[3] is pd.NA #tocheck null value it will return true or false

df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]}) #this we create dataframe not series

# String Manipulation

In [ ]:
val = "a,b, guido"
val.split(",") #we can break string into pieces with split method
# Out[152]: ['a', 'b', ' guido']

"::".join(pieces)
# Out[157]: 'a::b::guido'

"guido" in val
# Out[158]: True

val.replace(",", "::") #we can replace
# Out[163]: 'a::b:: guido'

#  Regular Expression

IMPORTANT FOR DATA CLEANING PURPOSE

In [ ]:
#to replace or find or search word in whole sentences we use regular exptession
import re
text = "foo bar\t baz \tqux" #This is messy text now we will clean this 

re.split(r"\s+", text) #we arrange in properf format in split method
# Out; ['foo', 'bar', 'baz', 'qux']

regex = re.compile(r"\s+") #we can also write this code as above ones 
regex.split(text) #regx split are another method 
# out:['foo', 'bar', 'baz', 'qux'] 


regex.findall(text)
# Out[170]: [' ', '\t ', ' \t']

text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
# re.IGNORECASE makes the regex case insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text) #as u can see all email data is clean now
# out:
# ['steve@gmail.com',
# 'rob@gmail.com',
# 'ryan@yahoo.com']

print(regex.match(text))

m = regex.search(text)#this only search only first word 

pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)
    
regex.findall(text)

In [183]: print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))
#output
# Dave Username: dave, Domain: google, Suffix: com
# Steve Username: steve, Domain: gmail, Suffix: com

<!-- findall   Return all nonoverlapping matching patterns in a string as a           list   

finditer   Like findall, but returns an iterator   

match      Match pattern at start of string and optionally segment                pattern components into groups; if the pattern
           matches, return a match object, and otherwise None  
           
search     Scan string for match to pattern, returning a match object            if so; unlike match, the match can be anywhere in
           the string as opposed to only at the beginning   
           
split      Break string into pieces at each occurrence of pattern  

sub, subn  Replace all (sub) or first n occurrences (subn) of pattern            in string with replacement expression; use symbols
            \1, \2, ... to refer to match group elements in the                  replacement string  -->

In [ ]:
# 1.findall 
# Return all nonoverlapping matching patterns in a string as a list
# 2.finditer
# Like findall, but returns an iterator
# 3.match 
# Match pattern at start of string and optionally segment pattern components into groups; if the pattern
# matches, return a match object, and otherwise None
# 4.search
# Scan string for match to pattern, returning a match object if so; unlike match, the match can be anywhere in
# the string as opposed to only at the beginning
# 5.split 
# Break string into pieces at each occurrence of pattern
# 6.sub, subn 
# Replace all (sub) or first n occurrences (subn) of pattern in string with replacement expression; use symbols
# \1, \2, ... to refer to match group elements in the replacement string

# String Function in Pandas

In [ ]:
data.str.contains("gmail")

# cat       =Concatenate strings element-wise with optional delimiter
# contains  = Return Boolean array if each string contains pattern/regex
# count     = Count occurrences of pattern
# extract   = Use a regular expression with groups to extract one or more strings from a Series of strings; the result
# will be a DataFrame with one column per group

# endswith  = Equivalent to x.endswith(pattern) for each element
# startswith= Equivalent to x.startswith(pattern) for each element
# findall   = Compute list of all occurrences of pattern/regex for each string
# get Index into each element (retrieve i-th element)

# isalnum   = Equivalent to built-in str.alnum
# isalpha   =Equivalent to built-in str.isalpha
# isdecimal = Equivalent to built-in str.isdecimal
# isdigit   =Equivalent to built-in str.isdigit
# islower   =Equivalent to built-in str.islower
# isnumeric = Equivalent to built-in str.isnumeric
# isupper   =Equivalent to built-in str.isupper
# join      =Join strings in each element of the Series with passed separator
# len       =Compute length of each string
# lower,upper= Convert cases; equivalent to x.lower() or x.upper() for each element
# match     =Use re.match with the passed regular expression on each element, returning True or False
# whether it matches
# pad       =Add whitespace to left, right, or both sides of strings
# center    = Equivalent to pad(side="both")
# repeat    =Duplicate values (e.g., s.str.repeat(3) is equivalent to x * 3 for each string)
# replace   =Replace occurrences of pattern/regex with some other string
# slice Slice each string in the Series
# split     = Split strings on delimiter or regular expression
# strip     =Trim whitespace from both sides, including newlines
# rstrip    =Trim whitespace on right side
# lstrip    =Trim whitespace on left side

# Categorical Data

# Background and Motivation

In [ ]:
pd.unique(values)#to see unique value

pd.value_counts(values)

dim.take (value)

N=len(fruits)

my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories
# Out[223]:
# ['foo', 'bar', 'baz', 'foo', 'bar']
# Categories (3, object): ['bar', 'baz', 'foo']

# Computations with Categoricals

In [ ]:
bins = pd.qcut(draws, 4)
bins#create 4 range of in dtaframe using bins all data convert into form 

bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

# Out
# ['Q1', 'Q4', 'Q1', 'Q2', 'Q2', ..., 'Q3', 'Q3', 'Q2', 'Q3', 'Q2']
# Length: 1000
# Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

: bins = pd.Series(bins, name='quartile')
: results = (pd.Series(draws)
 .....:      groupby(bins)
 .....: .    agg(['count', 'min', 'max'])
 .....: .    reset_index())
  
 # out
# quartile count min max
# 0 Q1 250 -3.119609 -0.678494
# 1 Q2 250 -0.673305 0.008009
# 2 Q3 250 0.018753 0.686183

In [248]: %time _ = labels.astype('category') #to see the cpu usage
# CPU times: user 469 ms, sys: 106 ms, total: 574 ms
# Wall time: 577 ms  

s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category') #category can be use as dfype as object
cat_s#we are forming category

cat_s.cat.codes #using data as code in int format

cat_s.cat.categories#see the category of data

cat_s3 = cat_s[cat_s.isin(['a', 'b'])]#this will show only a and b value

pd.get_dummies(cat_s)